
<div class="home-hero">

  <div class="row column text-center">

      <h1 class="home-hero__header">Don't leave your interview up to chance.</h1>
      <h2 class="home-hero__header home-hero__header--subheader">Ace the Interview</h2>

  </div>


<div class="row text-center home-card-push">
  <div class="home-card">
    <div class="card">
      <div class="card-divider">
        <h4>How do you interview prep?</h4>
      </div>
      <div class="card-section">
        <button class="button primary">Learn More</button>
        <blockquote>There are a lot of sites that help you strengthen hard skills: programming, accounting, finance, SQL, writing, math etc. <br/><br/>There are few resources that help you verbalize those skills.<br/><br/><strong>Ace the Interview</strong> bridges that gap and gives you tools to write and talk about your industry's concepts with the goal of improving your interview readiness!</blockquote>
        <a href="/users/sign_up" class="button button--primary">Start Studying <i class="fas fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>


</div>


  <div class="features">

      <div class="row expanded feature--row">
        <div class="row">
          <div class="columns medium-9 medium-centered">
            <div class="row" data-equalizer data-equalize-on="medium">
              <div class="columns medium-2 medium-offset-1 text-center" data-equalizer-watch><i class="fas fa-database feature--icon align--vertical"></i></div>
              <div class="columns medium-9 text-center medium-text-left" data-equalizer-watch><h3 class="feature--header">Access hundreds of interview questions by industry</h3></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row expanded feature--row">
        <div class="row">
          <div class="columns medium-9 medium-centered">
            <div class="row" data-equalizer data-equalize-on="medium">
              <div class="columns medium-2 medium-offset-1 text-center" data-equalizer-watch><i class="far fa-plus-square feature--icon align--vertical"></i></div>
              <div class="columns medium-9 text-center medium-text-left" data-equalizer-watch><h3 class="feature--header">Create, categorize, answer interview flashcards</h3></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row expanded feature--row">
        <div class="row">
          <div class="columns medium-9 medium-centered">
            <div class="row" data-equalizer data-equalize-on="medium">
              <div class="columns medium-2 medium-offset-1 text-center" data-equalizer-watch><i class="far fa-list-alt feature--icon align--vertical"></i></div>
              <div class="columns medium-9 text-center medium-text-left" data-equalizer-watch><h3 class="feature--header">Create custom interview lists</h3></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row expanded feature--row">
        <div class="row">
          <div class="columns medium-9 medium-centered">
            <div class="row" data-equalizer data-equalize-on="medium">
              <div class="columns medium-2 medium-offset-1 text-center" data-equalizer-watch><i class="fas fa-sort feature--icon align--vertical"></i></div>
              <div class="columns medium-9 text-center medium-text-left" data-equalizer-watch><h3 class="feature--header">Rate questions by confidence</h3></div>
            </div>
          </div>
        </div>
      </div>

  </div>
