
<div class="home-hero">

  <div class="row column text-center">

      <h1 class="home-hero__header">Don't leave your interview up to chance.</h1>
      <h2 class="home-hero__header home-hero__header--subheader">Ace the Interview</h2>

  </div>


<div class="row text-center home-card-push">
  <div class="home-card">
    <div class="card">
      <div class="card-divider">
        <h4>How do you interview prep?</h4>
      </div>
      <div class="card-section">
        <button class="button primary">Add Answer</button>
        <blockquote>Normally I lorem ipsum lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cupiditate mollitia illum minima nulla repellendus<br/><br/> repudiandae in consectetur eius saepe, nostrum quae, nemo ipsum? Repudiandae molestiae eveniet dolor dignissimos delectus.</blockquote>
        <small>Rate</small>
        <small>Category: Software, Ruby</small>
        <small>List: Technical Interview</small>
      </div>
    </div>
  </div>
</div>


</div>

<div class="row">

  <div class="columns medium-6">
    <h4 class="home--feature"></h4>
  </div>

  <div class="columns medium-6">

  </div>

</div>


Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquid consequuntur, aliquam reiciendis commodi libero placeat veritatis similique iusto id voluptates itaque, assumenda distinctio fuga, at esse dignissimos! Deleniti, dolorem.
