// Font Variables:
$font-primary: Arial, Sans-Serif;
// $font-primary-semibold: 'Metric-Semibold', Arial, Sans-Serif;

$font-secondary: Sans-Serif;
// $font-secondary-special: 'HRPK-Split', Arial, Sans-Serif;

$font-palanquin: Palanquin;
$font-news-cycle: 'News Cycle';