@import 'foundation';
@import 'variables/all';
body {
  background: lighten($color-body,5%);
  font-family: $font-primary;
  @include breakpoint(small only) {
      padding-top: 59px;
  }
}

#app {
  padding: 25px 0 0 0;
}