
@import 'settings';
@import 'foundation';
@import 'variables/all';
@import 'logo';

.title-bar {
  @include breakpoint(medium) {
      display: none;
  }
  padding: .7rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  &--menu-toggle {
    float: right;
    margin-top: 10px;
    width: 28px;
    &:after {
      background: $color-secondary;
      box-shadow: 0 7px 0 $color-secondary, 0 14px 0 $color-secondary;
    }
  }
}

#header-nav {
  background: #5356ad;
  padding: 20px 0;
  z-index: 30;
  border-bottom: solid 1px rgba($color-white,.20);
  transition: $transition-padding;
  &.shrink {
    padding: 10px 0;
    transition: $transition-padding;
  }
  .title-bar-right {
    margin-top: 20px;
    @include breakpoint(small only) {
      width: 100%;
      text-align: center;
      margin-top: 0;
    }
  }
}